html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    width: 100%; 
    font-family: 'Roboto Mono', serif;
}

#navbar {
    position: fixed;
    z-index: 2;
    min-width: 150px;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: #FFA400;
    margin-top: 0.1rem;
}

#navbar h4 {
    padding-left: 5px;
    margin-top: 10px;
    background-color: #EAF6FF;
}   

#navbar a {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    text-decoration: none;
    color: #EAF6FF;
    padding: 5px;
    font-size: 0.8rem;
    margin: 0;
}

.nav-link {
    border-top: 0.3rem solid #EAF6FF;
    border-right: 0.2rem solid #EAF6FF;
    border-bottom: 0.2rem solid #EAF6FF;
    border-left: 0.2rem solid #EAF6FF;
    margin: 0;
}

main {
    position: absolute;
    margin-left: 160px;
    padding: 20px;
    margin-bottom:110px;
}



h2 {
    background-color: #FFA400;
    color: #EAF6FF;
}

h2::before {
    background-image: url('/images/70s_food.jpg') no-repeat center;
}


@media only screen and (min-width: 768px) { 
    #navbar {
        position: fixed;
        z-index: 2;
         min-width: 290px;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 100%;
         border-right: solid;
        border-color: rgba(0, 22, 22, 0.4);
        background-color: #FFA400;
        margin-top: 0.1rem;
    }
    main {
        position: absolute;
        margin-left: 310px;
        padding: 20px;
        margin-bottom:110px;
    }

}